<% include partials/_header %>

<!-- <pre>
    <%= tasks %>
</pre> -->

    <div class="container">
        <div class="row">
         
            <!--LIST-->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N*</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i =0; i < tasks.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= tasks[i].title %></td>
                                <td><%= tasks[i].description %></td>
                                <td>
                                    <a href="/turn/<%= tasks[i]._id %>" class="btn <%= tasks[i].status ? 'btn-success': 'btn-dark' %>">Done</a>
                                    <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                                    <a href="/edit/<%=tasks[i]._id %>" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                       <% }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% include partials/_footer %>